/* orbitron-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/fonts/orbitron-v25-latin-regular.woff2") format("woff2"), url("../../../assets/fonts/orbitron-v25-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* orbitron-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  src: url("../../../assets/fonts/orbitron-v25-latin-500.woff2") format("woff2"), url("../../../assets/fonts/orbitron-v25-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* orbitron-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 600;
  src: url("../../../assets/fonts/orbitron-v25-latin-600.woff2") format("woff2"), url("../../../assets/fonts/orbitron-v25-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* orbitron-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  src: url("../../../assets/fonts/orbitron-v25-latin-700.woff2") format("woff2"), url("../../../assets/fonts/orbitron-v25-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* orbitron-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 800;
  src: url("../../../assets/fonts/orbitron-v25-latin-800.woff2") format("woff2"), url("../../../assets/fonts/orbitron-v25-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* orbitron-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  src: url("../../../assets/fonts/orbitron-v25-latin-900.woff2") format("woff2"), url("../../../assets/fonts/orbitron-v25-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  color: #FFE81F;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

select {
  background-color: #222;
  border: none;
}

select {
  background-color: hwb(0 50% 87%/0.2);
  border-radius: 8px;
  padding: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
select option {
  background-color: hwb(0 13% 87%/1);
  border-radius: 8px;
  padding: 10px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

body {
  background-image: url("../../../assets/img/background-img-2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.content-wrapper {
  max-width: 67.5rem;
  padding: 0 1rem;
  margin: auto;
  position: relative;
}

.title {
  font-size: clamp(1.37rem, 0.74vw + 1.22rem, 2.11rem);
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
}
@media (min-width: 740px) {
  .title {
    font-size: clamp(1.71rem, 1.1vw + 1.49rem, 2.81rem);
  }
}

.character-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.character-select-container h2 {
  font-size: clamp(0.88rem, 0.31vw + 0.81rem, 1.19rem);
  font-size: clamp(1.09rem, 0.49vw + 1rem, 1.58rem);
  margin-bottom: 1rem;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.character-select-and-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.character-select-and-btn button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #222;
  border: none;
  padding: 10px 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.character-select {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.article-main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.char-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.char-name-container h2 {
  text-align: center;
}/*# sourceMappingURL=main.css.map */