.character-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   
    h2{
        font-size: $lgSize;
        margin-bottom: 1rem;

        @include fontBold();
    }
}

.character-select-and-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button {
        width: fit-content;
        background-color: #222;
        border: none;
        padding: 10px 16px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 8px;
    }
}

.character-select {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    select {
        border: none;
        background-color: hwb(0 50% 87% / 0.2);
        border-radius: 8px;
        padding: 10px;
        backdrop-filter: blur(10px);

        
        option {
            background-color: hwb(0 13% 87% / 1);
            border-radius: 8px;
            padding: 10px;
            backdrop-filter: blur(1px);
    
            
        }

        option:hover {
            background-color: red;
            color: #FFE81F;
        }
        
    }
}