.article-main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.char-container{
}

.char-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
    }
}

.char-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
    border: 1px solid  #FFE81F;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: hwb(0 50% 87% / 0.2);
    backdrop-filter: blur(10px);
}

.is-highest{
    color: green;
}
