.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
    font-size: $smSize;
    z-index: 2;
    position: relative;
}

.take-me-top {
    width: fit-content;
    background-color: hwb(0 50% 87% / 0.2);
    backdrop-filter: blur(3px);
    border: none;
    padding: 10px 16px;
    margin-bottom: 1rem;
    border-radius: 8px;
    cursor: pointer;

    @include devices(tablet){
        position: fixed;
        bottom: 10%;
        right: 10%;
    }

    @include devices(desktop){
        position: fixed;
        bottom: 13%;
        right: 20%;
    }

    &:hover {
        background-color: hwb(0 50% 50% / 0.2);
    }
}