* {
    margin: 0;
    padding: 0;
    color: #FFE81F;

    @include fontRegular("Orbitron");
}

select,
button {
    background-color: #222;
    border: none;
}

select {
    background-color: hwb(0 50% 87% / 0.2);
    border-radius: 8px;
    padding: 10px;
    backdrop-filter: blur(10px);

    option {
        background-color: hwb(0 13% 87% / 1);
        border-radius: 8px;
        padding: 10px;
        backdrop-filter: blur(1px);
    }
}

body {
    background-image: url("../../../assets/img/background-img-2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.content-wrapper {
    max-width: 67.5rem; //1080px
    padding: 0 1rem;
    margin: auto;
    position: relative;
  }