* {
    margin: 0;
    padding: 0;
    color: #FFE81F;

    @include fontRegular("Orbitron");
}

body {
    height: 100%;
}

html{
    
    scroll-behavior: smooth;
}

.content-wrapper {
    max-width: 67.5rem; //1080px
    padding: 0 1rem;
    margin: auto;
    position: relative;
  }